{% extends "base.html" %}
{% block scripts %}
<script type = "text/javascript">
	function showtotalgraphs()
	 {
	 	/*
		var x = document.getElementById("dataset").value;
		document.getElementById("datasetBTC").style.display = 'none';
		document.getElementById("datasetLOGD").style.display = 'none';
		if (x == "BTC") {
			document.getElementById("datasetBTC").style.display = 'block';
		}
		else
		if (x =="LOGD")
		{
			document.getElementById("datasetLOGD").style.display = 'block';
		}
		*/


	}
</script>
{% if PVStatus %}
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="../static/js/highcharts.js" type="text/javascript"></script>
		<script src="../static/js/index-tables.js" type="text/javascript"></script>
		<script src="../static/js/index-donut.js" type="text/javascript"></script>
		<script type="text/javascript">
			function getTimeData(stats){
				var total = Number(stats.group.build_graph_t)+Number(stats.group.pv_lsh_t)+Number(stats.group.union_t)+Number(stats.group.total_t)+Number(stats.cbf.cbf_t)+Number(stats.split.split_t )+Number(stats.pv_t);
				var tdata = [
								['PV CONSTRUCTION',Number((Number(stats.pv_t)/total*100))],
								['CBF',Number((Number(stats.cbf.cbf_t)/total*100 ))],
								['SPLIT',Number((Number(stats.split.split_t)/total*100 ))],
								['GROUP BUILD GRAPH',Number((Number(stats.group.build_graph_t)/total*100))],
								['GROUP PV LSH',Number((Number(stats.group.pv_lsh_t)/total*100 ))],
								['GROUP UNION',Number((Number(stats.group.union_t)/total*100) )],
								['GROUP TOTAL',Number((Number(stats.group.total_t)/total*100 ))],
							];
				return tdata;
			}
		</script>
		<script type="text/javascript">
			$(document).ready(function() {
					var jSData = JSON.parse('{{ PVStatus|safe }}');
					showtables(jSData);
					showdonut(getTimeData(jSData));

			});
		</script>

{% endif %}

{% endblock %}
{% block content_title %}
<title>{{ TITLE }}</title>
{% endblock %}
{% block content %}
<div class="row">
	<div style="display: flex; flex-flow: row;">
	<div id="config" class="col-md-3" style="color:#E87352; border-color:#E87352; 	border: 2px solid;padding:25px;">
		<p class="text-center" style="font-size: 110%;font-weight: 800;">
			CONFIGURATION
		</p>
		<form action="" method="post">
			{% csrf_token %}
			{% if form.dataset.errors %}
			<div style="color:red;">
				<p class="error">{{form.dataset.errors}}</p>
			</div>
			{% endif %}
			<div class="row"  style="margin-bottom:10px;">
				<div class="form-group">
					<label for = "dataset" {% if form.dataset.errors %} class="error"{% endif %}>Dataset</label>
					<div class="col-sm-12">
						<select id="dataset" onchange = "showtotalgraphs();" NAME="dataset" class="form-control index">
							{% for value, text in form.dataset.field.choices %}
							<option value="{{ value}}">{{ text}}</option>
							{% endfor %}
						</select>
						<div id = "datasetBTC" style="color:red;display:none">The total numbers of graphs available is 10</div>
						<div id = "datasetLOGD" style="color:red;display:none">The total numbers of graphs available is 20</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-bottom:10px;">
				<div class="form-group">
					<label for = "LSHparameters">LSH Parameters</label><br />
					<div class="col-sm-6">
						{% if form.lhskparameter.errors %}
						<div style="color:red;">
							<p class="error">{{form.lhskparameter.errors}}</p>
						</div>
						{% endif %}
						<label for = "lhskparameter" {% if form.lhskparameter.errors %} class="error"{% endif %}>K</label><br/>
						<select id="lhskparameter" NAME="lhskparameter"class="form-control index" >
							{% for value, text in form.lhskparameter.field.choices %}
							<option value="{{ value}}">{{ text}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-sm-6">
						{% if form.lhslparameter.errors %}
						<div style="color:red;">
							<p class="error">{{form.lhslparameter.errors}}	</p>
						</div>
						{% endif %}
						<label for = "lhslparameter" {% if form.lhslparameter.errors %} class="error"{% endif %}>L</label>
						<select id="lhslparameter" NAME="lhslparameter"class="form-control index">
							{% for value, text in form.lhslparameter.field.choices %}
							<option value="{{ value }}">{{ text}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
			<div class="row" style="margin-bottom:10px;">
				<div class="form-group">
					{% if form.maximumgraphs.errors %}
					<div style="color:red;">
						<p class="error">{{form.maximumgraphs.errors}}</p>
					</div>
					{% endif %}
					<label for = "maximumgraphs"  {% if form.maximumgraphs.errors %} class="error"{% endif %}>Maximum number of graphs per group</label>
					<div class="col-sm-12">
						<input class="form-control index" id = {{ form.maximumgraphs}}
					</div>
				</div>
			</div>
			<div class="row" style="margin-bottom:10px;">
				<div class="form-group">
					<label for = "capacityanderrorrate"  >Bloom/CBF</label><br/>
					{% if form.bloomcapacity.errors %}
					<div style="color:red;">
						<p class="error">{{form.bloomcapacity.errors}}	</p>
					</div>
					{% endif %}
					<div class="col-sm-6">
						<label for = "bloomcapacity" {% if form.bloomcapacity.errors %} class="error"{% endif %}>Capacity</label>
						<select id="bloomcapacity" NAME="bloomcapacity"class="form-control index" >
							{% for value, text in form.bloomcapacity.field.choices %}
							<option value="{{ value}}">{{ text}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-sm-6">
						<label for = "bloomerror" {% if form.bloomerror.errors %} class="error"{% endif %}>Error in %</label>
						<select id="bloomerror" NAME="bloomerror"class="form-control index" >
							{% for value, text in form.bloomerror.field.choices %}
							<option value="{{ value}}">{{ text}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
			<div class="row" style="margin-bottom:20px;">
				{% if form.graphindex.errors %}
				<div class="error">
					<p style="color:red;">{{form.graphindex.errors}}</p>
				</div>
				{% endif %}
				<div class="form-group">
					<label for = "graphindex" {% if form.graphindex.errors %} class="error"{% endif %}>Number of Graphs to Index</label>
					<!--<p>{{ form.username}}</p>-->
					<div class="col-sm-12">
						<input class="form-control index" id = {{ form.graphindex}}
					</div>
				</div>
			</div>
			<div class="row" >
				<div class="form-group">
					<div class="col-sm-12">
						<button type="submit" class="btn btn-primary index-btn" alt="submitData" style="width:100%;">SUBMIT</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-9" style="margin-left:5px; height:100%;">
		<div class="row">
			<div class="col-md-12" style="color:#E87352; border-color:#E87352;border: 2px solid; height:100px;">
				<p class="text-center" style="font-size: 110%;font-weight: 800; padding-top:10px;">
						PV STATS
				</p>

			<div id="stats"> </div>


			</div>
		</div>
		<div class="row">
			<div id="exp" class="col-md-12" style="color:#E87352; border-color:#E87352;border: 2px solid; height:350px; margin-top:5px">
				<p class="text-center" style="font-size: 110%;font-weight: 800; padding-top:10px;">
						TIME DISTRIBUTION
				</p>
				<div id="donutbox" style="width: 100%; height: 270px;"></div>


			</div>
		</div>
		<div class="row">
			<div class="col-md-12" style="color:#E87352; border-color:#E87352;border: 2px solid;margin-top:5px; height:100px;">
				<p class="text-center" style="font-size: 110%;font-weight: 800; padding-top:10px;">
						TIMINGS
				</p>

			<div id="timings"> </div>


			</div>
		</div>

	</div>
</div>
</div>
{% if IndexName %}
<!--<div style="color:red;">The name of the new Index created is {{IndexName}}</div>-->
{% endif %}
{% endblock %}
