{% extends "base.html" %}
{% block content_title %}
	<title>{{ TITLE }}</title>
{% endblock %}
{% block scripts %}
<script type="text/javascript">

function myFunction()
	 {
		var x = document.getElementById("indexname").value;
		if (x.indexOf("BTC")>=0)
			document.getElementById("dataset1").value = "BTC";
		else if (x.indexOf("LOGD")>=0)
			document.getElementById("dataset1").value = "LOGD";
		else
			document.getElementById("dataset1").value = "BTC";
	}
</script>
<script type="text/javascript">
	function showQuery(e)
	{
		var d= "name=" + e.value;
		var obj = $('#query').unbind();

	    $.ajax({
		url: "/execute/getquery/",
		type: "GET",
		dataType: "text",
		data: d,
		success: function(m) {
			obj.text(m);
			obj.html(obj.html().replace(/\n/g,'<br/>'));
			obj.html(obj.html().replace(/\t/g,'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'));
			obj.bind('DOMNodeInserted DOMSubtreeModified DOMNodeRemoved', function(event) {
			document.getElementById("queryDisplay").selectedIndex = 4;
			});
		}
	    });

	}
</script>
<script type="text/javascript">

	//Javascript to run RIQ
	function runRIQ(e)
	{
		document.getElementById("query-text").value= $('#query').text();

	    var form = document.getElementById("frmRIQ");
		var formURL = form.action;
	    var postData = $('#frmRIQ').serialize();

	    $.ajax({
		url: '/execute/',
		type: "POST",
		dataType: "text",
		data: postData,
		timeout: 9000000000,
		success: function(m) {
			console.log("Execute Form Submitted Successfully");

		},
		error: function(response,n, textStatus, exception) {
			alert('Form Error: ' + response.responseText);
			console.log(n);
			console.log(textStatus);

		}
	    });
	}
</script>


{% endblock %}

{% block content %}


	<div style="display: flex; flex-flow: row;">
	<div id="config" class="col-md-3" style="color:#DCB543; border-color:#DCB543; 	border: 2px solid;padding:25px;">
		<p class="text-center" style="font-size: 110%;font-weight: 800;">
			EXECUTION PARAMETERS
		</p>
		<form id="frmRIQ" name="frmRIQ" action="" method="POST" >
			{% csrf_token %}
			{% if form.dataset.errors %}
			<div style="color:red;">
				<p class="error">{{form.dataset.errors}}</p>
			</div>
			{% endif %}
			<div class="row"  style="margin-bottom:10px;">
					<div class="form-group">
					<label for = "dataset">Select index:</label>
					<div class="col-sm-12">
						<select id="indexname" NAME="indexname"class="form-control execute">
							{% for value, text in form.dataset.field.choices %}
								<option value="{{ value}}">{{ text}}</option>
							{% endfor %}
						</select>
						<div id = "datasetBTC" style="color:red;display:none">The total numbers of graphs available is 10</div>
					</div>
				</div>

			</div>
			<div class="row"  style="margin-bottom:20px;">
				<div class="form-group">
					<label for = "queries">Query:</label>
					<div class="col-sm-12">
						<select id="queryDisplay"  NAME="queries"class="form-control execute" onchange="showQuery(this);">
							{% for value, text in form.query.field.choices %}
								<option value="{{ value}}">{{ text}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>

			<div class="row"  style="margin-bottom:10px;">
				<div class="form-group">
					<label for = "cache">Cache:</label>
					<div class="col-sm-12">

							{% for value, text in form.cache.field.choices %}
							<input id="typecache" type="radio"  name="typecache" value="{{ value}}"><label for="typecache" style="color:#000;font-weight:400;"><span><span></span></span>{{ text }}</label><br />

							{% endfor %}

					</div>
				</div>
			</div>


			<div class="row"  style="margin-bottom:10px;">
				<div class="form-group">
					<label for = "optimizationtype">Optimization:</label>
					<div class="col-sm-12">
							{% for value, text in form.optimize.field.choices %}
							<input id="optimizationtype" type="radio"  name="optimizationtype" value="{{ value}}"><label for="optimizationtype" style="color:#000;font-weight:400;"><span><span></span></span>{{ text }}</label><br />

							{% endfor %}
					</div>
				</div>
			</div>


			<div class="row" >
				<div class="form-group">
					<div class="col-sm-12">
						<button id="runquery" type="button" class="btn btn-primary execute-btn" alt="submitData" style="width:100%;" onClick="runRIQ(event);" value="Run RIQ">SUBMIT</button>
					</div>
				</div>
			</div>
			<input type="text" id='query-text' name='qtext' style="display:none"></input>

			<div class="row" style="margin-top:10px;" >
					<div class="col-sm-12" style="color:#DCB543;margin-top:5px;">
					<h5>Note:</h5>
					The query will be executed using the configuration set in the index construction page.
					</div>
			</div>
		</form>
	</div>
	<div class="col-md-9" style="margin-left:5px;">
		<div class="row" style="position: relative;">
			<div style="padding:0;">
				<div class="thrds" style="color:#DCB543; border-color:#DCB543;border: 2px solid; height:450px; position:relative;float:left; display: block;">
					<div class="sliding-content-r">
						<div class="text-center widen" style="font-size: 110%;font-weight: 800; padding-top:10px;">
							QUERY
							<div id="query" class="text-left" contenteditable="true" spellcheck='false'> </div>
						</div>
					</div>
				</div>
				<div class="thrds"  style="color:#DCB543; border-color:#DCB543;border: 2px solid; height:450px;margin-left:6px;position:relative;float:left; display: block;">
					<div class="sliding-content-lr">
						<div class="text-center widen" style="font-size: 110%;font-weight: 800; padding-top:10px;">
							QUERY GRAPH
							<div id="query-graph" class="text-left"> X ---> Y </div>
						</div>
					</div>
				</div>
				<div class="thrds" style="color:#DCB543; border-color:#DCB543;border: 2px solid; height:450px;margin-left:5px;position:relative;float:right; display: block;">
					<div class="sliding-content-l">
						<div class="text-center widen" style="font-size: 110%;font-weight: 800; padding-top:10px;">
							TIME COMPARISON
							<div id="time" class="text-left"> 12.2 + 4.3 s </div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="row" style="position: relative;">
			<div style="padding:0;">
				<div style="color:#DCB543; border-color:#DCB543;border: 2px solid; height:100px; position:relative;float:left; display: block;width:100%; margin-top:5px;">
					<div class="sliding-content-t">
						<div class="text-center widen" style="font-size: 110%;font-weight: 800; padding-top:10px;">
							RESULTS
							<div id="results" class="text-left"> the results</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
document.getElementById("indexname").selectedIndex = -1;
document.getElementById("optimizationtype").selectedIndex = -1;
document.getElementById("queryDisplay").selectedIndex = -1;
document.getElementById("query-text").value="";
$('input:radio').each(function () { $(this).prop('checked', false); });
</script>
{% endblock %}
