{% extends "base.html" %}
{% block scripts %}
	{% block content_title %}
	<title>{{ TITLE }}</title>
	{% endblock %}
{% endblock %}

{% block content %}


	<div style="display: flex; flex-flow: row;">
	<div id="config" class="col-md-3" style="color:#DCB543; border-color:#DCB543; 	border: 2px solid;padding:25px;">
		<p class="text-center" style="font-size: 110%;font-weight: 800;">
			EXECUTION PARAMETERS
		</p>
		<form action="" method="post">
			{% csrf_token %}
			{% if form.dataset.errors %}
			<div style="color:red;">
				<p class="error">{{form.dataset.errors}}</p>
			</div>
			{% endif %}
			<div class="row"  style="margin-bottom:10px;">
					<div class="form-group">
					<label for = "dataset">Select the index:</label>
					<div class="col-sm-12">
						<select onchange = "myFunction();" id="indexname" NAME="indexname"class="form-control execute">
							{% for indexdata in indexdataobject %}
								<option value="{{indexdata.IndexName}}"{%if IndexName1 == indexdata.IndexName %} selected="selected" {% endif %} >{{indexdata.IndexName}}</option>
							{% endfor %}
						</select>
						<div id = "datasetBTC" style="color:red;display:none">The total numbers of graphs available is 10</div>
						{% if form.dataset.errors %}
						<div style="color:red;">
							<p class="error">
							{{form.dataset.errors}}
							</p>
						</div>
						{% endif %}
					</div>
				</div>

			</div>

			<div class="row"  style="margin-bottom:10px;">
				<div class="form-group">
					<label for = "dataset" {% if form.dataset.errors %} class="error"{% endif %}>Dataset:</label>
					<div class="col-sm-12">
						<input type="text"  id="dataset1" NAME="dataset"class="form-control execute" value="{%if Dataset == "LOGD" %} LOGD {%elif Dataset == "BTC"%} BTC {% endif %}" readonly >
					</div>
				</div>
			</div>


			<div class="row"  style="margin-bottom:10px;">
				<div class="form-group">
					<label for = "cache">Select the Cache:</label>
					<div class="col-sm-12">
						<select id="typecache" NAME="typecache"class="form-control execute" >
							<option value="cold" {%if TypeCache == "cold" %} selected="selected" {% endif %} >Cold Cache</option>
							<option value="warm" {%if TypeCache == "warm" %} selected="selected" {% endif %} >Warm Cache</option>
						</select>
					</div>
				</div>
			</div>


			<div class="row"  style="margin-bottom:10px;">
				<div class="form-group">
					<label for = "optimizationtype">Optimization Type:</label>
					<div class="col-sm-12">
						<select id="optimizationtype" NAME="optimizationtype"class="form-control execute" >
							<option value="nopt" {%if optimizeType == "nopt" %} selected="selected" {% endif %} >No Optimize</option>
							<option value="opt" {%if optimizeType == "opt" %} selected="selected" {% endif %} >Optimize </option>
						</select>
					</div>
				</div>
			</div>

			<div class="row"  style="margin-bottom:20px;">
				<div class="form-group">
					<label for = "queries">Queries:</label>
					<div class="col-sm-12">
						<select id="queryDisplay"  NAME="queries"class="form-control execute" onchange="showQueries(event);">
							{% for queryfilename in querynamedataobject %}
								<option value="{{queryfilename.queryname}}"{%if QueriesForm == queryfilename.queryname %} 	selected="selected" {% endif %} >{{queryfilename.queryname}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>

			<div class="row" >
				<div class="form-group">
					<div class="col-sm-12">
						<button id="runquery" type="button" class="btn btn-primary execute-btn" alt="submitData" style="width:100%;" onClick="runRIQ(event);" value="Run RIQ">SUBMIT</button>
					</div>
				</div>
			</div>




		</form>
	</div>
	<div class="col-md-9" style="margin-left:5px;">
		<div class="row" style="position: relative;">
			<div style="padding:0;">
				<div class="thrds" style="color:#DCB543; border-color:#DCB543;border: 2px solid; height:450px; position:relative;float:left; display: block;">
					<div class="sliding-content-r">
						<div class="text-center widen" style="font-size: 110%;font-weight: 800; padding-top:10px;">
							QUERY
							<div id="query" class="text-left"> the sparql query</div>
						</div>
					</div>
				</div>
				<div class="thrds"  style="color:#DCB543; border-color:#DCB543;border: 2px solid; height:450px;margin-left:6px;position:relative;float:left; display: block;">
					<div class="sliding-content-lr">
						<div class="text-center widen" style="font-size: 110%;font-weight: 800; padding-top:10px;">
							QUERY GRAPH
							<div id="query-graph" class="text-left"> X ---> Y </div>
						</div>
					</div>
				</div>
				<div class="thrds" style="color:#DCB543; border-color:#DCB543;border: 2px solid; height:450px;margin-left:5px;position:relative;float:right; display: block;">
					<div class="sliding-content-l">
						<div class="text-center widen" style="font-size: 110%;font-weight: 800; padding-top:10px;">
							TIME COMPARISON
							<div id="time" class="text-left"> 12.2 + 4.3 s </div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="row" style="position: relative;">
			<div style="padding:0;">
				<div style="color:#DCB543; border-color:#DCB543;border: 2px solid; height:100px; position:relative;float:left; display: block;width:100%; margin-top:5px;">
					<div class="sliding-content-t">
						<div class="text-center widen" style="font-size: 110%;font-weight: 800; padding-top:10px;">
							RESULTS
							<div id="results" class="text-left"> the results</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
